.reservation-page-container {
    display: flex;
    justify-content: center;
    margin-top: 32px;
    margin-bottom: 5rem;
}

.res-details-container {
    display: flex;
    margin-bottom: 16px;
}

.res-request-container {
    width: 600px;
}

.res-request-container h4 {
    margin-bottom: 16px;
}

.res-request-info {
    margin-left: 16px;
}

.res-request-info h1 {
    font-size: 24px;
    margin: 4px 0;
}

.table-details {
    display: flex;
    margin-top: 8px;
}

.table-details p {
    margin: 6px;
    font-weight: 400;
}

#res-date, #res-time, #res-size {
    margin-right: 16px;
    display: flex;
}

.timer-banner {
    background: #fceeef;
    border-radius: 4px;
    padding: 12px 16px 10px;
    font-size: 14px;
}

.diner-details-container h4 {
    font-weight: 400;
}

.diner-name h4 {
    margin: 24px 0;
    font-weight: 400;
}

.diner-details-container span {
    color: #da3743;
    font-weight: 300;
}

span#highlight {
    font-weight: 500;
}

.input-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.diner-details-container textarea, .diner-details-container input {
    width: 49%; /* Set the width of textareas */
    padding: 10px;
    box-sizing: border-box;
    margin-right: 12px;
    border: 0.0625rem solid #d8d9db;
    border-radius: 4px;
    min-height: 48px;
    resize: vertical; /* Prevent textarea resizing */
}

.diner-details-container textarea:last-child, .diner-details-container input:last-child {
    margin-right: 0;
}

#make-res-bttn {
    width: 100%;
    background: #da3743;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 16px 0;
    margin: 32px 0 16px;
    font-weight: 500;
    font-size: 16px;
    font-family: 'Cabin', sans-serif;
    cursor: pointer;
}

#terms {
    font-size: 14px;
    color: black;
}
.restaurant-note {
    width: 302px;
    margin-left: 32px;
}

.restaurant-note h5 {
    font-size: 14px;
    margin-top: 24px;
}

.restaurant-note p {
    font-size: 14px;
    margin: 16px 0;
    line-height: 1.25rem;
}