.reservation-container {
    box-shadow: 0 2px 4px #2d333f33;
    border-radius: 4px;
    background-color: white;
    margin-bottom: 20px;
    padding: 16px;
}

.table-time-container h4 {
    margin-top: 4px;
    margin-bottom: 16px;
    text-align: center;
    padding-bottom: 16px;
    border-bottom: 0.0625rem solid #d8d9db;
}

.table-time-container h5 {
    font-weight: 400;
    margin: 0;
}

.table-time-container select {
    width: 100%;
    border: none;
    border-bottom: 1px solid #d8d9db;
    cursor: pointer;
    height: 3rem;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 15px;
}

option {
    color: #2d333f;
}

#date-time-container {
    display: flex;
    margin-top: 8px;
}

#date-time-container #time-input {
    margin-left: 15px;
    width: 50%;
    border: none;
}

#date-time-container #date-input {
    margin-right: 15px;
    width: 50%;
    border: none;
}

#find-time-bttn {
    background-color: #da3743;
    color: #fff;
    border: none;
    height: 3rem;
    width: 100%;
    margin-top: 16px;
}