.search-banner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 248px;
    background: linear-gradient(.647turn,#1a0a47cc,#0d1b4599 .01%,#0d1b45cc 51.04%,#0d1b45 99.1%);
}

.search-banner-container h1 {
    color: white;
    font-size: 48px;
    margin-bottom: 16px;
}
.search-inputs {
    display: flex;
    border-radius: 4px;
}

.search-inputs input {
    height: 40px;
}

.keyword-search {
    margin: 0 16px;
}

.search-banner-container button {
    background-color: #da3743;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Cabin', sans-serif;
    outline: none;
    transition: all .3s ease-out;
    border-radius: 4px;
    width: 132px;
}