.restaurant-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.restaurant-index {
    border: 1px solid #d8d9db;
    display: flex;
    flex-direction: column;
    width: 234px;
    border-radius: 0.5rem;
}


.tile-img-container img {
    width: 234px;
    height: auto;
}

.restaurant-index p {
    font-size: 14px;
}

.tile-info {
    padding: 8px;
}

.tile-info h5 {
    margin-bottom: 8px;
}

.tile-info > p {
    padding-top: 8px;
}

#review-count {
    margin-left: 10px;
    margin-top: 2px;
}

.tile-img-container {
    height: 130px;
    overflow: hidden;
}

.book-count {
    display: flex;
    margin: 6px 0;
}

.book-count p {
    margin-top: 5px;
}

.home-time-bttns {
    display: flex;
}

.home-time-bttns button:hover {
    background: #931b23;;
}

.tile-info button {
    background: #da3743;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 14px;
    font-weight: 400;
    height: 2rem;
    justify-content: center;
    line-height: 32px;
    margin-bottom: 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    border: none;
    margin-right: 8px;
    font-family: 'Cabin', sans-serif;
    padding: 0 8px;
}