.background{
    background: #f7f7f7;
    height: 100%;
}
.reservation-list-container {
    display: flex;
    flex-direction: column;
    width: 824px;
    background: white;
    margin: 56px auto;
    border-radius: 4px;
    padding: 32px;
    border-bottom: 0.0625rem solid #d8d9db;
}

.restaurant-details {
    margin-left: 16px;
}

.restaurant-details h1 {
    font-size: 18px;
}

.reservation-tile-container {
    border: 0.0625rem solid #d8d9db;
    display: flex;
    cursor: pointer;
    margin-top: 16px;
    padding: 16px;
    border-radius: 4px;
}

.reservation-tile-container:hover {
    box-shadow: 0 2px 4px #2d333f33;
    /* transform: translateY(-6px);  */
}

.res-confirmed{
    margin: 8px 0;
    align-items: center;
}

.res-confirmed p {
    margin-left: 4px;
}

.res-detail, .res-confirmed{
    display: flex;
}

.res-specs {
    display: flex;
    align-items: center;
    margin-right: 16px;
}

.res-specs p {
    margin-left: 4px;
}

.res-img-container img{
    width: 8em;
    height: 8em;
    border-radius: 4px;
}

.user-rating-container {
    display: flex;
    margin-top: 8px;
}
.user-rating-container p {
    margin-right: 8px;
}

.red-star {
    color: #da3743;
}

.grey-star {
    color: #d8d9db;
}
