/* TODO Add site wide styles */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Cabin', sans-serif;
    font-weight: 600;
    color: #2d333f;
}

p, a {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    color: #2d333f;
}

#page-container {
    max-width: 1600px;
    display: block;
    margin: 0 auto;
    background-color: white;
}

body {
    background-color: #f7f7f7;
    margin: 0;
}