.search-results-container {
    /* border: 1px solid black; */
    width: 800px;
    margin: 32px auto;
    background: white;
}

.search-results-container h2 {
    margin: 20px 0;
    font-weight: 400;
}
.search-results-container p {
    margin: 20px 0 64px;
    font-weight: 400;
}

.result-container {
    /* border: 1px solid black; */
    display: flex;
    /* margin-bottom: 16px; */
    padding-bottom: 16px;
    padding-top: 16px;
    border-top: 0.0625rem solid #d8d9db;
    border-bottom: 0.0625rem solid #d8d9db;
    cursor: pointer;
}