.carousel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.carousel-header {
    width: 100%;
    max-width: 1280px;
    margin-top: 50px;
    font-size: 1.5rem;
}

.restaurant-carousel {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    width: 100%;
    max-width: 1280px;
    gap: 20px;
    padding: 20px 0;
    white-space: nowrap;
}
  
.carousel-item {
    flex: 0 0 auto;
    scroll-snap-align: start;
}