.carousels-container{
    margin-bottom: 32px;
}
.carousel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 32px;
    /* position: relative; */
}
.carousel-header {
    width: 100%;
    max-width: 1216px;
    margin-top: 50px;
    font-size: 1.5rem;
}

.restaurant-carousel-container { /* Container for carousel and buttons */
    position: relative; /* Establishes a point of reference for absolutely positioned children */
    width: 100%;
    max-width: 1150px; /* or whatever width you want */
}

.restaurant-carousel {
    display: flex;
    overflow-x: scroll;
    /* scroll-snap-type: x mandatory; */
    width: 100%;
    max-width: 1216px;
    gap: 20px;
    padding: 20px 0;
    white-space: nowrap;
    position: relative;
}
  
.carousel-item {
    flex: 0 0 auto;
    scroll-snap-align: start;
    text-decoration: none;
    color: black;
    background: white;
    transition: all 0.3s ease; 
    width: 220px;
}

.carousel-item:hover {
    box-shadow: 0 2px 4px #2d333f33;
    transform: translateY(-6px); 
}

/* Carousel navigation */
.carousel-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    transform: translateY(250%);
    width: 42px;
    height: 42px;
    background-color: #fff;
    color: black;
    font-size: 18px;
    border: 0.0625rem solid #d8d9db;
    box-shadow: 0 0.125rem 0.5rem #9996;
    cursor: pointer;
    border-radius: 50%;
    top: 50%; /* Position in the middle vertically */
    transform: translateY(-50%); /* Adjust for centering */
}

.carousel-button:hover {
    border: 2px solid #DA3843;
}

.left-button {
    left: -20px;
}

.right-button {
    right: -20px;
}
