.page-container {
    background: white;
}
/* Restaurant Banner */
.restaurant-banner {
    width: 100%;
    height: 460px; /* Set your desired max height */
    background-size: cover;
    background-position: center 45%; /* Show the bottom part of the image */
}

/* Restaurant Information */
.restaurant-container{
    width: 992px;
    display: flex;
    margin: -50px auto 50px auto;
    justify-content: space-between;
}

.restaurant-info {
    width: 620px;
    /* border: 1px solid; */
    border-radius: 4px;
    background-color: white;
    padding: 16px;
}

.restaurant-tabs {
    padding-bottom: 13px;
    border-bottom: 1px solid lightgrey;
    font-weight: 400;
}

.restaurant-tabs a {
    color: #6f737b;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-right: 32px;
    border-bottom: 2px solid transparent;
    text-decoration: none;
}

.restaurant-tabs a:active {
    color: #da3743;
    text-decoration: underline;
    text-underline-offset: 16px;
}

.restaurant-tabs a:hover {
    color: #931b23;
    text-underline-offset: 16px;
}

.restaurant-info h1 {
    font-size: 3rem;
    padding-bottom: 32px;
    border-bottom: 1px solid lightgray;
    margin-bottom: 16px;
    margin-top: 32px;
}

.overview-info {
    font-family: 'Cabin', sans-serif;
    font-size: 14px;
    display: flex;
    margin-bottom: 32px;
}

.overview-info svg {
    transform: translateY(-3px); /*Moves speech bubble position up 3px*/
}

.overview-info > div {
    margin-right: 10px;
}

.overview-info-component {
    display: flex;
}

.restaurant-description {
    line-height: 24px;
}

#menu {
    line-height: 24px;
    margin-top: 32px;
}

#menu h2, #reviews-section-container h2 {
    border-bottom: 1px solid lightgray;
    margin: 0 0 16px;
    padding: 16px 0;
    font-size: 24px;
}

#menu p {
    margin: 16px 0;
}

#website-menu {
    display: flex;
    margin-bottom: 32px;
}

#website-menu a {
    margin: 0 4px 16px 4px;
    color: #da3743;
    font-family: 'Cabin', sans-serif;
    font-size: 13px;
    text-decoration: none;
}

.map-container {
    width: 320px;
    box-shadow: 0 2px 4px #2d333f33;
    border-radius: 4px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#map {
    margin-top: 16px;
    width: 290px;
    height: 200px;
    background-color: #e8e8e8;
    align-items: center;
}

.address {
    margin-top: 5px;
    margin-left: 25px;
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.address a {
    color: #da3743;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    margin: 4px 0 0 4px;
    text-decoration: none;
}

.address a:hover {
    text-decoration: underline;
}

/* Additional information section */
.additional-info {
margin-top: 18px;
}

.additional-info h4 {
    font-weight: 400;
}

.additional-info h5 {
    font-weight: 400;
    margin: 0;
}

.additional-info p {
    font-size: 14px;
    margin: 6px 0;
}

.additional-info-item {
    display: flex;
    margin: 12px 0;
}

.info-details {
    margin-left: 5px;
}
  

/* Review styling */
#review-summary-container {
    display: flex;
    border-bottom: 1px solid lightgray;
    padding: 16px 0;
    justify-content: space-between;
}

#review-summary-txt-container {
    width: calc(60% - 16px);
}

#review-summary-txt-container p {
    line-height: 22px;
}


#meters-container {
    width: 40%;
}

#avg-review-text-container {
    display: flex;
    /* align-items: center; */
}

#avg-review-text-container p {
    line-height: 20px;
    margin-left: 6px;
}

#individual-rtg-avg-container {
    display: flex;
}

.individual-rtg-avg {
    display: flex;
    flex-direction: column;
    border-right: 0.0625rem solid #d8d9db;
    padding: 0 8px;
    align-items: center;
}

#last-indvd-rating-avg {
    border-right: none;
}

.individual-rtg-avg h4 {
    padding-bottom: 6px;
}

#meter-list {
    display: flex;
    list-style-type: none;
    width: 100%;
    margin-bottom: 8px;
    align-items: center;
    justify-content: flex-end;
}

#meter-list label {
    margin-right: 4px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    color: #2d333f;
}

.rating-meter {
    width: 95%;
    appearance: none;
    border: 0.0625rem #d8d9db solid;
    height: 20px;
    /* background: #fff; */
}

.meter-filled {
    background: #da3743;
    height: 18px;
}


#users-reviews-search-container input{
    width: 93.5%;
    margin: 32px 0;
    border: 0.0625rem solid #d8d9db;
    border-radius: 4px;
    height: 48px;
    outline-color: #2d333f;
    padding: 0 0px 0 40px;
    font-size: 16px;
    font-weight: 300;
}

#users-reviews-container {
    margin: 0 0 32px;
}

#review-num-sort-container {
    display: flex;
    justify-content: space-between;
}

.rst-user-profile {
    margin-right: 16px;
}

.rating-date-container {
    display: flex;
    margin-bottom: 8px;
}

.rating-date-container p {
    font-size: 14px;
    font-weight: 500;
}

.rating-breakdown-container{
    display: flex;
    margin-bottom: 16px;
}

.rating-breakdown-container p{
    font-size: 14px;
    font-weight: 500;
}

.rating-breakdown-container span {
    color: #da3743;
}

.highlight-rating-title:not(:last-child):after {
    content: "\2022";
    margin: 0 4px;
}

.rst-user-review-container {
    display: flex;
    padding: 32px;
    border-bottom: 1px solid lightgray;
}

.rst-user-review {
    width: 100%;
}

#avg-review-text-container {
    margin: 16px 0;
}

#review-num-sort-container {
    display: flex;
    align-items: center;
}

#review-num-sort-container select {
    border: 0.0625rem solid #d8d9db;
    border-radius: 4px;
    height: 100%;
    display: block;
    padding-top: 0.875rem;
    padding-bottom: 0.875rem;
    padding-left: 8px;
    padding-right: 16px;
    min-height: 48px;
    font-weight: 300;
}

#review-num-sort-container p {
    font-weight: 500;
}

.review-stars-container {
    margin-right: 8px;
}

.review-content-ele {
    margin-bottom: 36px;
}

.helpful-report-container {
    display: flex;
    justify-content: space-between;
}

.helpful-btn-container {
    display: flex;
    font-size: 14px;
    align-items: center;
    gap: 8px;
}

.helpful-btn-container button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.helpful-btn-container span {
    display: inline-block;
    height: 1.5rem;
    width: 1.5rem;
    min-width: 1.5rem;
    font-size: 0;
    line-height: 1;
}

.report-btn {
    color: #6f737b;
    background-color: #fff;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.report-btn span {
    display: inline-block;
    height: 1.25rem;
    width: 1.25rem;
    min-width: 1.25rem;
    font-size: 0;
    line-height: 1;
}