.page-container {
    background: white;
}
/* Restaurant Banner */
.restaurant-banner {
    width: 100%;
    height: 460px; /* Set your desired max height */
    background-size: cover;
    background-position: center 45%; /* Show the bottom part of the image */
}

/* Restaurant Information */
.restaurant-container{
    width: 992px;
    display: flex;
    margin: -50px auto 50px auto;
    justify-content: space-between;
}

.restaurant-info {
    width: 620px;
    /* border: 1px solid; */
    border-radius: 4px;
    background-color: white;
    padding: 16px;
}

.restaurant-tabs {
    padding-bottom: 13px;
    border-bottom: 1px solid lightgrey;
    font-weight: 400;
}

.restaurant-tabs a {
    color: #6f737b;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-right: 32px;
    border-bottom: 2px solid transparent;
    text-decoration: none;
}

.restaurant-tabs a:active {
    color: #da3743;
    text-decoration: underline;
    text-underline-offset: 16px;
}

.restaurant-tabs a:hover {
    color: #931b23;
    text-underline-offset: 16px;
}

.restaurant-info h1 {
    font-size: 3rem;
    padding-bottom: 32px;
    border-bottom: 1px solid lightgray;
    margin-bottom: 16px;
    margin-top: 32px;
}

.overview-info {
    font-family: 'Cabin', sans-serif;
    font-size: 14px;
    display: flex;
    margin-bottom: 32px;
}

.overview-info svg {
    transform: translateY(-3px); /*Moves speech bubble position up 3px*/
}

.overview-info > div {
    margin-right: 10px;
}

.overview-info-component {
    display: flex;
}

.restaurant-description {
    line-height: 24px;
}

#menu {
    line-height: 24px;
    margin-top: 32px;
}

#menu h2, #reviews-section-container h2 {
    border-bottom: 1px solid lightgray;
    margin: 0;
    padding: 16px 0;
    font-size: 24px;
}

#menu p {
    margin: 16px 0;
}

#website-menu {
    display: flex;
    margin-bottom: 32px;
}

#website-menu a {
    margin: 0 4px 16px 4px;
    color: #da3743;
    font-family: 'Cabin', sans-serif;
    font-size: 13px;
    text-decoration: none;
}

.map-container {
    width: 320px;
    box-shadow: 0 2px 4px #2d333f33;
    border-radius: 4px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#map {
    margin-top: 16px;
    width: 290px;
    height: 200px;
    background-color: #e8e8e8;
    align-items: center;
}

.address {
    margin-top: 5px;
    margin-left: 25px;
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.address a {
    color: #da3743;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    margin: 4px 0 0 4px;
    text-decoration: none;
}

.address a:hover {
    text-decoration: underline;
}

/* Additional information section */
.additional-info {
margin-top: 18px;
}

.additional-info h4 {
    font-weight: 400;
}

.additional-info h5 {
    font-weight: 400;
    margin: 0;
}

.additional-info p {
    font-size: 14px;
    margin: 6px 0;
}

.additional-info-item {
    display: flex;
    margin: 12px 0;
}

.info-details {
    margin-left: 5px;
}
  

/* Review styling */
#review-summary-container {
    display: flex;
    border-bottom: 1px solid lightgray;
    padding: 16px 0;
}
#avg-review-text-container {
    display: flex;
}

#individual-rtg-avg {
    display: flex;
}

#meter-list {
    list-style-type: none
}

#users-reviews-search-container input{
    width: 100%;
    margin: 16px 0;
}

#users-reviews-container {
    margin: 32px 0;
}

#review-num-sort-container {
    display: flex;
    justify-content: space-between;
}

.rst-user-review-container {
    display: flex;
}

.rst-user-profile {
    margin-right: 16px;
}

.rating-date-container {
    display: flex;
}

.rating-breakdown-container{
    display: flex;
}

.rst-user-review-container {
    padding: 32px;
    border-bottom: 1px solid lightgray;
}